.login-container {
    .header {
        text-align: right;
        height    : 40px;
        padding   : 10px 100px 0 0;
        font-size : 16px;

        button {
            margin-left  : 20px;
            border       : none;
            border-radius: 5px;
            padding      : 3px 10px;
            background   : #262625;
            color        : white;
            font-size    : 14px;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .title {
        font-size : 25px;
        padding   : 20px 0;
        text-align: center;
    }

    .welcome {
        font-size : 20px;
        padding   : 10px 0;
        text-align: center;
    }

    .content-form {
        display       : flex;
        flex-direction: column;

        input {
            margin-bottom: 15px;
            margin-top   : 3px;
            outline      : none;
        }

        button {
            width        : 100%;
            border-radius: 4px;
            background   : #9add14;
            font-size    : 16px;
            height       : 40px;
            border       : none;
            outline      : none;
            margin       : 10px 0;

            .loader-icon {
                margin-right: 7px;
                top         : 2px;
                animation   : spin 1s infinite linear;
            }

            @keyframes spin {
                from {
                    transform: scale(1) rotate(0deg);
                }

                to {
                    transform: scale(1) rotate(360deg);
                }
            }

            &:hover {
                opacity: 0.8;
            }

            &:disabled {
                background: #dddddd;
                color     : #afafaf;
                cursor    : no-drop;
            }
        }

        .back-homepage {
            cursor   : pointer;
            color    : #333;
            font-size: 12px;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}